<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleships</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div role="main">
        <div class="container">
            <h1 class="display-4 text-center">Battleships</h1>
        </div>
        
        <div class="container">
            {% if message is defined %}
                <div class="alert alert-{{ message.type == 'error' ? 'danger' : message.type }} text-center" role="alert">
                    {{ message.message }}
                </div>
            {% endif %}
            <hr />
            {% block game %}{% endblock %}
            <hr />
            {% block form %}{% endblock %}
            <hr />
        </div>
        
        <div class="container">
            {% block hits %}{% endblock %}
            <hr />
        </div>
    </div>
</body>
</html>