{% extends 'base.html.twig' %}

{% block game %}
    <div class="row">
        <div class="col-1 text-center" style="padding: 0 12px;">
            <kbd>#</kbd>
        </div>
        {% for index, block in area|first %}
            <div class="col-1 text-center" style="padding: 0 12px;">
                <kbd>{{ index }}</kbd>
            </div>
        {% endfor %}
    </div>
    {% for row, columns in area %}
        <div class="row">
            <div class="col-1 text-center" style="padding: 0 12px;">
                <kbd>{{ labels[row] }}</kbd>
            </div>
            {% for column in columns %}
                <div class="col-1 text-center" style="padding: 0 12px;">
                    {{ show_mode ? (column.ship is not null ? markers_ship : '') : markers[column.state]}}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

{% block hits %}
    <h4>Game Hits ({{ hits|length }})</h4>
    {% for hit in hits %}
        {% if hit is not empty %}
            <kbd>{{ hit }}</kbd>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block form %}
<div class="d-flex justify-content-center text-center">
    <form method="post" class="col-12 col-md-6 col-lg-5 col-xl-4">
        <div class="form-group">
            <label for="coordinates">Enter coordinates (row, col), e.g. A5</label>
            <input id="coordinates" name="coordinates" class="form-control">
            <small class="form-text text-muted">type <strong>SHOW</strong> for show-all-ships mode</small>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Fire a shot!</button>
        <a href="./index.php?reset" class="btn btn-outline-dark btn-lg">Reset Game</a>
    </form>
</div>
{% endblock %}